/* JQM Demos CSS */
.jqm-demos strong { font-weight: bold; }
.jqm-demos img { max-width: 100%; }

/* Page */
body, .jqm-demos  {
	background-color: #fefefe;
	font-size: 1.05em;
}

.ui-bar-a {
	border:3px solid #80ae03;
	background:#92c113;
	color:#fff;
	font-weight:400;
	text-shadow:0 0px 0 #000;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#92c113), to(#92c113));
	background-image:-webkit-linear-gradient(#92c113, #92c113);
	background-image:-moz-linear-gradient(#92c113, #92c113);
	background-image:-ms-linear-gradient(#92c113, #92c113);
	background-image:-o-linear-gradient(#92c113, #92c113);
	background-image:linear-gradient(#92c113, #92c113);
}
.ui-content {
	border-width:0;
	overflow:visible;
	padding:0em
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
	background-color:#92c113;
	border-color:#ddd;
	color:#fff;
	text-shadow:0 0px 0 #eee;
	font-weight:700
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
	background-color:#92c113;
	border-color:#92c113;
	color:#fff;
	text-shadow:0 0px 0 #f3f3f3
}
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover {
	background-color:#92c113;
	border-color:#92c113;
	color:#fff;
	text-shadow:0 0px 0 #f3f3f3
}
.ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active, html body .ui-group-theme-a .ui-btn:active, html head+body .ui-btn.ui-btn-a:active {
	background-color:#92c113;
	border-color:#92c113;
	color:#333;
	text-shadow:0 0px 0 #f3f3f3
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background-color:#f9f9f9;
	border-color:#bbb;
	color:#333;
	text-shadow:0 0px 0 #f3f3f3
}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
	font-family:Helvetica, Arial, sans-serif
}
.ui-bar-a .ui-link-inherit {
	color:#fff
}

.ui-btn-active {
	border:1px solid #2373a5;
	background:#5393c5;
	font-weight:700;
	color:#fff;
	cursor:pointer;
	text-shadow:0 0px 0 #3373a5;
	text-decoration:none;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
	background-image:-webkit-linear-gradient(#5393c5, #6facd5);
	background-image:-moz-linear-gradient(#5393c5, #6facd5);
	background-image:-ms-linear-gradient(#5393c5, #6facd5);
	background-image:-o-linear-gradient(#5393c5, #6facd5);
	background-image:linear-gradient(#5393c5, #6facd5);
	font-family:Helvetica, Arial, sans-serif
}
.ui-btn-active:visited, .ui-btn-active:hover, .ui-btn-active a.ui-link-inherit {
	color:#fff
}




/* Header */
.jqm-header {
	background: #fff;
	border-top: 3px solid #6ABA2F;
	border-bottom: 1px solid #e0e0e0;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}
.jqm-header.ui-header-fixed:not(.ui-fixed-hidden) {
	border-top-width: 4px;
	padding-top: 0;
}

/* Header logo */
.jqm-header h1.jqm-logo {
	font-size: 1em;
	margin: .6em 3.375em;
}
.jqm-header .jqm-logo a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.jqm-header .jqm-logo img {
	display: block;
	width: 140px;
	height: auto;
}
.jqm-demos-home .jqm-header .jqm-logo img {
	display: inline-block;
}

/* Header buttons */
.jqm-header > .ui-btn {
	width: 31px;
	height: 31px;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.jqm-header > .ui-btn,
.jqm-header.ui-header-fixed.ui-fixed-hidden > .ui-btn-icon-notext {
	top: 1.1em;
}
.jqm-header .jqm-navmenu-link {
	left: 15px;
}
.jqm-header .jqm-search-link {
	right: 15px;
}
.jqm-header > .ui-btn,
.jqm-header > .ui-btn .ui-btn-inner {
	border: none;
	background: none;
}
.jqm-header > .ui-btn,
.jqm-header > .ui-btn .ui-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* Custom icons */
.jqm-header > .ui-btn .ui-icon {
	background-image: url(jqm_demo-icons-sd.png);
	background-color: transparent;
	width: 31px;
	height: 31px;
	margin: 0;
}
.jqm-header .jqm-navmenu-link .ui-icon {
	background-position: -3px 50%;
}
.jqm-header .jqm-search-link .ui-icon {
	background-position: -100px -2px;
}
/* Toggle search / close icon */
.jqm-search-toggle .jqm-search-link .ui-icon {
	background-position: -51px -2px;
}
/* Toggle menu bars / close icon on small screens */
@media (max-width:45.9375em) {
	.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open .jqm-header .jqm-navmenu-link .ui-icon {
		background-position: -51px 50%;
	}
}
/* HD/Retina icon sprite */
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
	.jqm-header > .ui-btn .ui-icon {
		background-image: url(jqm_demo-icons-hd.png);
		-webkit-background-size: 131px 31px;
		-moz-background-size: 131px 31px;
		-o-background-size: 131px 31px;
		background-size: 131px 31px;
	}
}

/* Global search */
.jqm-search {
	display: none;
	background: #eee;
	border-top: 1px solid transparent;
	padding: 0 .7em;
}
.jqm-search-toggle .jqm-search {
	display: block;
	border-top: 1px solid #e0e0e0;
}
.jqm-search	> .ui-listview-filter {
	margin: 0 -.3125em;
	padding: 1px 0; /* to resolve Chrome rendering issue (border-bottom not visible */
}
.jqm-demos .jqm-search > .ui-listview-filter .ui-input-search {
	margin: 4px .3125em;
}
.jqm-search > .jqm-list {
	position: absolute;
	right: .7em;
	left: .7em;
	margin-top: 5px;
	z-index: 999;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.ui-panel-animate.ui-panel-content-wrap:not(.ui-panel-content-wrap-closed) .jqm-search > .jqm-list {
	display: none;
}


/* Footer */
.jqm-footer {
	background: none;
	border: none;
	color: #777;
	text-shadow: 0 1px 0 #fff;
}
.jqm-footer p {
	font-size: .8em;
	font-weight: normal;
	margin: .7em 15px;	
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.jqm-footer .jqm-version {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size:.9em;
	margin-left:1.1em;
}

/* Content */

/* Headings */
.jqm-content > h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2.4em;
	color: #333;
	clear:both;
}
.jqm-faq .jqm-content > h1 {
	margin-top: -.4em;
	font-size: 1.8em;
}
.jqm-content > h2,
.jqm-content > h3,
.jqm-content > h4,
.jqm-home-welcome h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
	color: #60a725;
	padding-top: .6em;
	clear:both;
}
.jqm-home-welcome h2 {
	font-size:1.5em;
	margin-left:.5em;
	margin-top:-.2em;
}
.jqm-home-welcome .jqm-button {
	margin-left:.8em;
	margin-top:-.4em;
}
.jqm-home-welcome .jqm-button .ui-btn-text {
	font-size:1.1em;
	font-weight:300;
}
h2.jqm-home-widget {
	font-size:1.5em;
	margin-left:.6em;
}
.home-pop p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:.5em .5em;
	width:16em;
}
.home-pop .ui-btn-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.jqm-content > h4 {
	font-size: 1.2em;
}

/* Paragraphs */
.jqm-content > p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	font-size: 0.95em;
}
.jqm-content .jqm-intro {
	font-size: 120%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 135%;
	margin-top: -.5em;
	margin-bottom: .5em;
	padding-bottom: 2.6em;
	color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	border-bottom-color: rgba(0,0,0,.1);
}
.jqm-demos-home .jqm-content .jqm-intro {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:.9em;
	line-height: 1.4;
	margin: -.8em .8em .5em .8em;
	padding-bottom: .6em;
	border: none;
	color: #555;
}
.jqm-demos-index .jqm-content p.jqm-intro {
	border: none;
}
.jqm-content > ul:not(.ui-listview),
.jqm-content > ul:not(.ui-listview) li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	font-size: 0.95em;
	line-height: 1.7;
}
.jqm-content > ul:not(.ui-listview) {
	margin: 1em 0;
	padding-left: 1.3em;
}

/* Code */
.jqm-content pre,
.jqm-content code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background: #e5e5e5;
	background: rgba(0,0,0,.05);
	padding: 0 .125em;
}
.jqm-content pre {
	padding: 0 1em 1.2em;
	white-space: pre-wrap;	
}
.jqm-content pre > code {
	padding: 0;	
	background: none;
	font-size:.8em;
}

/* Links */
.jqm-content > p a.ui-link,
.jqm-content p.jqm-intro a.ui-link {
	font-weight: 400; 
	text-decoration: none;
}
.jqm-content > p a.ui-link:hover,
.jqm-content p.jqm-intro a.ui-link:hover {
	text-decoration: underline;
}

/* Buttons */
.jqm-content .jqm-api-link,
.jqm-content .jqm-button,
.jqm-view-source-link .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
}
.jqm-home-welcome .jqm-button .ui-icon {
	opacity: .6;
}

/* API link */
.jqm-content .jqm-api-link {
	float: right;
	margin-top: .3em;
}
.jqm-content .jqm-api-link .ui-btn-text {
	padding-left: .3em;
	padding-right: .2em;
}
.jqm-content .jqm-api-link .ui-icon {
	opacity: .6;
}

/* Deeplinks */
.jqm-content a.jqm-deeplink {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	display: block;
	text-align: right;
	font-size: 0.8em;
	margin-top: .8em;
	margin-bottom: 1em;
	margin-right:.6em;
	text-decoration: none;
	float:right;
}
.jqm-content p.jqm-intro + a.jqm-deeplink {
	text-align: left;
}
.jqm-content a.jqm-deeplink span {
	width: 18px;
	display: inline-block;
	margin-top: 1px;
	margin-left: 10px;
	float: right;
	opacity: .5;
}
.jqm-content p.jqm-intro + a.jqm-deeplink span {
	float: right;
	margin-left: 10px;
}
.jqm-content a.jqm-open-quicklink-panel {
	margin-top: -3.3em;
}

/* Lists */
.jqm-search .jqm-list {
	font-weight: 400; 
	font-size: 0.88em;
}
.jqm-list .ui-li-heading  {
	font-weight: 700; 
	font-size: .9em;
	color: #07ade0;
	margin-top: .1em;
}
.jqm-list .ui-li-desc  {
	font-weight: 300; 
	font-size: .8em;
	color: #777;
	margin-bottom: .1em;
}
/* List dividers */
.jqm-list .ui-bar-d {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: .9em;
	padding: .7em 15px;
	background-image: none;
	background-color: #f8f8f8;
	border-color: #e8e8e8;
	color: #60a725;
	text-shadow: none;
}
/* List buttons */
.jqm-list .ui-btn-inner {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: 0.95em;
	border-top: none;
}
.jqm-list .ui-btn-up-d, 
.jqm-list .ui-btn-hover-d, 
.jqm-list .ui-btn-down-d {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	border-color: #eee;
}
.jqm-list .ui-btn-up-d {
	background-color: #fff;
	background-image: none;
}
.jqm-list .ui-btn-hover-d {
	background-color: #f8f8f8;
	background-image: none;
}
.jqm-list .ui-btn-up-d.ui-btn-active, 
.jqm-list .ui-btn-hover-d.ui-btn-active, 
.jqm-list .ui-btn-down-d.ui-btn-active,
.jqm-list .ui-btn-up-d.ui-focus, 
.jqm-list .ui-btn-hover-d.ui-focus, 
.jqm-list .ui-btn-down-d.ui-focus {
	border-color: #34bae8;
	background-color: #34bae8;
	background-image: none;
	color: #fff;
	text-shadow: 0 1px 0 #369;	
}
.jqm-list .ui-btn-up-d.ui-focus, 
.jqm-list .ui-btn-hover-d.ui-focus, 
.jqm-list .ui-btn-down-d.ui-focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.jqm-list .ui-btn-active a.ui-link-inherit,
.jqm-list .ui-btn-active .ui-li-heading,
.jqm-list .ui-btn-active .ui-li-desc,
.jqm-list .ui-focus a.ui-link-inherit,
.jqm-list .ui-focus .ui-li-heading,
.jqm-list .ui-focus .ui-li-desc {
	color: #fff;
}
.jqm-demos .jqm-list .ui-li .ui-btn-text a.ui-link-inherit,
.jqm-demos .jqm-list .ui-li .ui-li-desc {
	text-overflow: clip;
	overflow: visible;
	white-space: normal;
}
/* ### TEMPORARY ### */
/* padding count bubble position when icon is false needs to be fixed in the framework CSS (some classes shouldn't be added) */
.jqm-list .ui-li-count {
	right: 10px !important;
}
.jqm-demos .jqm-list .ui-btn-icon-right .ui-btn-inner {
	padding-right: 0;
}
.jqm-demos .jqm-list .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
	padding-right: 15px;
}
/* ### END ### */

/* List filter */
.jqm-demos-home .jqm-content > .ui-listview-filter,
.jqm-demos-index .jqm-content > .ui-listview-filter {
	margin-top: 0;
	margin-bottom: -.5em;
}
.jqm-demos-home .jqm-content > .ui-listview-filter .ui-input-search,
.jqm-demos-index .jqm-content > .ui-listview-filter .ui-input-search,
.jqm-demos-index .jqm-search-results-wrap > .ui-listview-filter .ui-input-search {
	background-color: #f9f9f9;
	border-color: #e5e5e5;
	border-color: rgba(0,0,0,.1);
}
.jqm-demos .jqm-search .ui-listview-filter .ui-input-search {
	background-color: #f9f9f9;
	border-color: #e5e5e5;
	border-color: rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.jqm-demos-home .jqm-content > .ui-listview-filter .ui-input-search.ui-focus,
.jqm-demos-index .jqm-content > .ui-listview-filter .ui-input-search.ui-focus,
.jqm-demos-index .jqm-search-results-wrap > .ui-listview-filter .ui-input-search.ui-focus {
	background-color: #fff;
	border-color: #34bae8;
	border-color: rgba(52,186,232,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 0 9px rgba(52,186,232,.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 0 9px rgba(52,186,232,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 0 9px rgba(52,186,232,.2);
}
.jqm-demos .jqm-search .ui-listview-filter .ui-input-search.ui-focus {
	background-color: #fff;
	border-color: #e5e5e5;
	border-color: rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.jqm-demos .jqm-search > .ui-listview-filter .ui-input-text,
.jqm-demos-home .jqm-content > .ui-listview-filter .ui-input-text,
.jqm-demos-index .jqm-content > .ui-listview-filter .ui-input-text,
.jqm-demos-index .jqm-search-results-wrap > .ui-listview-filter .ui-input-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: .95em;
}

/* Search results */
.jqm-search .jqm-list {
	background: #fff;
}
.jqm-search-results-highlight {
	color: #07ade0;
	font-weight: 400;
	text-shadow: none;
}
.ui-btn-active .jqm-search-results-highlight,
.ui-focus .jqm-search-results-highlight {
	color: #fff;
	text-shadow: 0 1px 0 #369;	
}
.jqm-search .jqm-list .ui-li .ui-btn-text a.ui-link-inherit,
.jqm-search-results-wrap .jqm-list .ui-li .ui-btn-text a.ui-link-inherit {
	padding: .5626em 15px;
	font-weight: 400;
}
.jqm-list .jqm-search-results-keywords {
	padding: 6px 0 0;
	font-size: .8em;
	font-weight: 300;
	color: #999;
}
.jqm-search-results-keywords .jqm-keyword-hash {
	margin-right: .2em;
	margin-left: .2em;
	font-weight: 400;
	color: #aaa;
	font-size: .75em;
	text-transform: uppercase;
}
.ui-btn-active .jqm-search-results-keywords,
.ui-focus .jqm-search-results-keywords,
.ui-btn-active .jqm-search-results-keywords .jqm-keyword-hash,
.ui-focus .jqm-search-results-keywords .jqm-keyword-hash {
	color: #fff;
	text-shadow: 0 1px 0 #369;
	font-weight: 400;
}

.jqm-search .jqm-list .ui-li-count,
.jqm-search-results-wrap .jqm-list .ui-li-count {
	display: none;
}

/* Nav panels */
/* Reveal menu shadow on top of the list items */
.ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open {
	-webkit-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	-moz-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	box-shadow: -5px 0 5px rgba(0,0,0,.10);
}

/* Responsive */
@media (min-width:46em) {
	/* Header logo */
	.jqm-header h1.jqm-logo {
		text-align: left;
		margin: .8em 0 .8em 5%;
	}
	.jqm-header .jqm-logo a {
		min-height: 57px;
	}
	.jqm-header .jqm-logo img {
		display: block;
		width: 200px;
		height: auto;
	}
	.jqm-demos-home .jqm-header .jqm-logo img {
		display: block;
		width: 240px;
		height: auto;
		padding-left:.7em;
		margin-top:.5em;
		margin-bottom:.6em;
	}
	
	.jqm-demos-home .jqm-content .jqm-intro {
		line-height: 1.45;
		margin: -.2em .8em .4em .8em;

	}
	
	/* Header buttons */
	.jqm-header > .ui-btn,
	.jqm-header.ui-header-fixed.ui-fixed-hidden > .ui-btn-icon-notext {
		top: 1.4em;
	}
	.jqm-header .jqm-navmenu-link {
		left: 5%;
		margin-left: 215px;
	}
	.jqm-header .jqm-search-link {
		display: none;
	}
	/* Global nav panel close button (instead of toggle menu bars / close icon on small screens) */
	.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.jqm-header::after,
	.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open .jqm-header::after {
		content: "";
		display: block;
		position: absolute;
		top: 8px;
		left: 8px;
		width: 20px;
		height: 20px;
		cursor: pointer;
		background-image: url(jqm_demo-icons-sd.png);
		background-position: -33px 50%;
		-webkit-background-size: 85px 20px;
		-moz-background-size: 85px 20px;
		-o-background-size: 85px 20px;
		background-size: 85px 20px;
	}
	
	/* Global search */
	.ui-panel-animate.ui-panel-content-wrap > .ui-header.jqm-header {
		position: relative;
	}
	.jqm-search,
	.jqm-search-toggle .jqm-search {
		display: block;
		position: absolute;
		top: 1.0875em;
		right: 5%;
		background: none;
		border: none;
	}
	.jqm-demos .jqm-search > .ui-listview-filter .ui-input-search {
		margin: 0;	
	}
	.jqm-search > .jqm-list {
		right: .3875em;
		left: auto;
		width: 28em;
	}
	
	/* Footer */
	.jqm-footer {
		overflow: hidden;
		position: absolute;
		bottom: 0;
		width: 100%;		
	}
	.jqm-footer p {
		margin: 1.5em 0 1.5em 15%;
		float: left;		
	}
	.jqm-footer .jqm-version {
		margin: 1.5em 5% 1.5em 0;
		float: right;
		font-weight: 700;
	}
	.jqm-demos-home .jqm-footer p.jqm-version {
		display: none;
	}
	
	/* Content */
	.jqm-demos .jqm-content {
		padding: 15px 5% 4.5em; /* padding bottom is because of footer position absolute */
	}
	.jqm-demos .jqm-content.jqm-fullwidth {
		padding: 15px;
	}

	.jqm-content > p {
		line-height: 1.5;
	}
	.jqm-demos-home .jqm-content p.jqm-intro {
		font-size: 1.1em;
	}
	
	/* Homepage */	
	.jqm-demos-home .jqm-home-welcome {
		float: left;
		width: 48%;
		padding-right:6%;
		margin-top:.4em;
	}
	.jqm-demos-home .jqm-home-list {
		float: left;
		width: 45%;
	}
	.jqm-demos-home h2.jqm-home-widget {
		clear:left;
		padding-top:2em;
	}
}

@media (min-width:60em) {
	/* Header */
	.jqm-header h1.jqm-logo {
		margin-left: 15%;
	}
	.jqm-header .jqm-navmenu-link {
		left: 15%;
	}
	.jqm-search,
	.jqm-search-toggle .jqm-search {
		right: 15%;
	}
	/* Footer */
	.jqm-footer .jqm-version {
		margin-right: 15%;
		margin-left: 15%;
	}
	/* Content */
	.jqm-demos .jqm-content {
		padding-right: 15%;
		padding-left: 15%;
	}
}

/* Global nav panel close button HD/Retina icon */
@media only screen and (min-width:46em) and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min-width:46em) and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-width:46em) and (min-resolution: 200dpi) {
	/* global nav panel close button */
	.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.jqm-header::after,
	.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open .jqm-header::after {
		background-image: url(jqm_demo-icons-hd.png);
	}
}


/* View source */
.jqm-content div[data-demo-html="true"] {
	border-top: 1px solid rgba(0,0,0,.08);
	margin: 0;
	padding: 1.2em 0;
}
.jqm-content div.jqm-view-source-link {
	border-top: 1px solid rgba(0,0,0,.08);
	padding: .6em 0 0;
	margin: 2.4em 0;
}
.jqm-content div[data-demo-html="true"] + div.jqm-view-source-link {
	margin: 0 0 2.4em;
}
.jqm-content .jqm-view-source-link .ui-btn.ui-mini {
	margin: 0;
}

/* View source popup */
#jqm-view-source-popup.ui-popup-container {
	width: 90%;
	max-width: 1500px;
}
.jqm-view-source .ui-collapsible-set {
	margin: 0;
}
.jqm-view-source .ui-collapsible-heading .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.jqm-view-source .ui-collapsible-heading .ui-btn-inner {
	padding: .4em;
}
.jqm-view-source .ui-collapsible-content {
	padding: 0;
	overflow: auto;
}
.jqm-view-source .ui-collapsible-content .phpStatus {
	padding: 1em;
}
.jqm-view-source .ui-collapsible-content > div,
.jqm-view-source .ui-collapsible-content .syntaxhighlighter {
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar {
    width: 5px;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar-track {
    background: transparent;
}
.jqm-view-source .ui-collapsible-content::-webkit-scrollbar-thumb {
	background: #435A5F;
	border: solid #222;
	border-width: 12px 2px 12px 0;
	border-bottom-right-radius: 5px;
}
.jqm-view-source .ui-collapsible-content td.code .container > textarea {
	resize: none;
}

/* Swatch F */
.ui-bar-f {
	border: 1px solid #86D641;
	background: #6ABA2F;
	color: #fff;
	text-shadow: 0 1px 1px #335413;	
	font-weight: bold;
}
.ui-bar-f,
.ui-bar-f .ui-link-inherit,
.ui-bar-f .ui-link {
	color: #fff;
}
.ui-btn-up-f {
	border: 1px solid #3B6F07;
	background: #56A00E;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
	background-image: -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
	background-image: -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
	background-image: linear-gradient(#74b042, #56A00E);
}
.ui-btn-up-f a.ui-link-inherit {
	color: #fff;
}
.ui-btn-hover-f {
	border: 1px solid #3B6F07;
	background: #6EBC1F;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC963), to(#6EBC1F)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#8FC963, #6EBC1F); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(#8FC963, #6EBC1F); /* FF3.6 */
	background-image: -ms-linear-gradient(#8FC963, #6EBC1F); /* IE10 */
	background-image: -o-linear-gradient(#8FC963, #6EBC1F); /* Opera 11.10+ */
	background-image: linear-gradient(#8FC963, #6EBC1F);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: #fff;
}
.ui-btn-down-f {
	border: 1px solid #3B6F07;
	background: #3d3d3d;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#56A00E), to(#64A234)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#56A00E, #64A234); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(#56A00E, #64A234); /* FF3.6 */
	background-image: -ms-linear-gradient(#56A00E, #64A234); /* IE10 */
	background-image: -o-linear-gradient(#56A00E, #64A234); /* Opera 11.10+ */
	background-image: linear-gradient(#56A00E, #64A234);
}
.ui-btn-down-f a.ui-link-inherit {
	color: #fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-weight: bold;
	text-decoration: none;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	background: none;
	border: 0;
	bottom: auto;
	float: none;
	left: auto;
	height: auto;
	line-height: 18px;
	margin: 0;
	outline: 0;
	overflow: visible;
	padding: 0;
	position: static;
	right: auto;
	text-align: left;
	top: auto;
	vertical-align: baseline;
	width: auto;
	box-sizing: content-box;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	min-height: inherit;
	min-height: auto;
}
.syntaxhighlighter {
	width: auto;
	margin: 0;
	padding: 1em 0;
	position: relative;
	overflow: auto;
	font-size: 13px;
}
.syntaxhighlighter.source {
	overflow: hidden;
}
.syntaxhighlighter .bold {
	font-weight: bold;
}
.syntaxhighlighter .italic {
	font-style: italic;
}
.syntaxhighlighter .line {
	white-space: pre;
	white-space: pre-wrap;
}
.syntaxhighlighter table {
	width: 100%;
}
.syntaxhighlighter table caption {
	text-align: left;
	padding: .5em 0 0.5em 1em;
}
.syntaxhighlighter table td.code {
	width: 100%;
}
.syntaxhighlighter table td.code .container {
	position: relative;
}
.syntaxhighlighter table td.code .container textarea {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	background: white;
	padding-left: 1em;
	overflow: hidden;
	white-space: pre;
}
.syntaxhighlighter table td.gutter .line {
	text-align: right;
	padding: 0 0.5em 0 1em;
}
.syntaxhighlighter table td.code .line {
	padding: 0 1em;
}
.syntaxhighlighter.show {
	display: block;
}
.syntaxhighlighter.collapsed table {
	display: none;
}
.syntaxhighlighter .line.alt1 {
	background-color: transparent;
}
.syntaxhighlighter .line.alt2 {
	background-color: transparent;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
	background-color: #253e5a;
}
.syntaxhighlighter .line.highlighted.number {
	color: #38566f;
}
.syntaxhighlighter table caption {
	color: #d1edff;
}
.syntaxhighlighter .gutter {
	color: #afafaf;
}
.syntaxhighlighter .gutter .line {
	border-right: 3px solid #435a5f;
}
.syntaxhighlighter .gutter .line.highlighted {
	background-color: #435a5f;
	color: #0f192a;
}
.syntaxhighlighter.collapsed {
	overflow: visible;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
	color: #eee;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
	color: #5ba1cf;
}
.syntaxhighlighter .string {
	color: #98da31;
}
.syntaxhighlighter .string a {
	color: #1dc116;
}
.syntaxhighlighter .keyword {
	color: #ffae00;
}
.syntaxhighlighter .preprocessor {
	color: #8aa6c1;
}
.syntaxhighlighter .variable {
	color: #ffaa3e;
}
.syntaxhighlighter .value {
	color: #f7e741;
}
.syntaxhighlighter .functions {
	color: #ffaa3e;
}
.syntaxhighlighter .constants {
	color: #e0e8ff;
}
.syntaxhighlighter .script {
	font-weight: bold;
	color: #b43d3d;
	background-color: none;
}
.syntaxhighlighter .color1 {
	color: #8df;
}
.syntaxhighlighter .color1 a {
	color: #f8bb00;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
	color: white;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
	color: #ffaa3e;
}
.syntaxhighlighter table td.code {
	cursor: text;
}
.syntaxhighlighter table td.code .container textarea {
	background: #eee;
	white-space: pre;
	white-space: pre-wrap;
}
.syntaxhighlighter ::-moz-selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
.syntaxhighlighter ::-webkit-selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}
.syntaxhighlighter ::selection {
	background-color: #3399ff;
	color: #fff;
	text-shadow: none;
}

.a_center_che{ float:left; width:32.8%;  height:90px; padding-top:30px; color:#151515; text-align:center; border:solid 1px #f0f0f0; background:#FFFFFF; font-size:12px;}
  @media (min-width: 800px) 
  {.a_center_che{ width:33.2%;}}
.a_center_yi{ float:left; width:32.8%;  height:90px; padding-top:30px; color:#151515; text-align:center; border-bottom:solid 1px #f0f0f0; border-top:solid 1px #f0f0f0; background:#FFFFFF; font-size:12px;}
  @media (min-width: 800px) 
  {.a_center_yi{ width:33.2%;}}
.a_center_jia{ float:left; width:32.8%;  height:90px; padding-top:30px; color:#151515; text-align:center; border:solid 1px #f0f0f0; background:#FFFFFF; font-size:12px;}
  @media (min-width: 800px) 
  {.a_center_jia{ width:33.2%;}}
.a_center_you{ float:left; width:32.8%;  height:90px; padding-top:30px; color:#151515; text-align:center; border-bottom:solid 1px #f0f0f0; border-left:solid 1px #f0f0f0; background:#FFFFFF; font-size:12px;}
  @media (min-width: 800px) 
  {.a_center_you{ width:33.3%;}}
.a_center_jian{ float:left; width:32.8%;  height:90px; padding-top:30px; color:#151515; text-align:center; border-bottom:solid 1px #f0f0f0; border-right:solid 1px #f0f0f0; border-left:solid 1px #f0f0f0; background:#FFFFFF; font-size:12px;}
  @media (min-width: 800px) 
  {.a_center_jian{ width:33.2%;}}

.b_center_fuwu_1{ background:#FFFFFF; height:50px; border-bottom: solid 1px #F0F0F0; border-top: solid 1px #f0f0f0; width:100%; margin-top:10px; font-size:14px; text-indent:10px;}
.b_center_fuwu_1_img{ float:left; width:35px; padding-top:10px;}
.b_center_fuwu_1_text{ float:left; width:250px; line-height:50px;}
.c_geren_top{ height:60px; border-bottom: solid 1px #f0f0f0; border-top:solid 1px #f0f0f0; background:#FFFFFF; margin-top:10px;}
.c_geren_pic{ margin:5px 0px 0px 5px; width:60px; float:left;}
.c_geren_pic_text{ width:200px; float:left; font-size:12px; line-height:60px;}
.c_zhou{ width:100%; border-bottom: solid 1px #f0f0f0; border-top:solid 1px #f0f0f0; margin-top:5px; float:left; background:#FFFFFF; height:auto; padding-bottom: 15px;}
.c_zhou_time{ float:left; width:80px; font-size:14px; padding-top:11px; padding-left:10px; clear:both; text-align:center;}
.c_zhou_img{ float:left; width:28px; padding-top:15px;}
.c_zhou_text{ float:left; width:60%; padding-top:8px;}
.c_zhou_text .c_big_text{ font-size:20px; color:#0daa00;}
.c_zhou_text .c_smill_text{ font-size:12px;}
.c_zhou_time .c_time_text{ font-size:28px; color:#0daa00;}
.c_zhou_time110{ float:left; width:80px; font-size:14px; padding-top:3px; padding-left:10px; clear:both; text-align:center;}
.c_zhou_time110 .c_time_text{ font-size:28px; color:#0daa00;}

.bd_Claims_center{ width:100%; height:80%; background:#FFFFFF; margin:0 auto; border-top: solid 3px #d64f05;}
 .bd_Claims_center table{ text-align:center; font-size:12px; color:#000000;}
 .bd_Claims_center table tr td{ border-bottom:1px solid #dedcdc; height:30px;}
   .bd_table_anniu{ height:2.5em; width:200px; text-align:center; margin:0 auto; background:#ee732f; line-height:40px; margin-top:20px; margin-bottom:20px;}
  @media (min-width: 800px) 
  {.bd_table_anniu{ height:2.5em; width:400px; text-align:center; margin:0 auto; background:#ee732f; line-height:40px; margin-top:20px; margin-bottom:20px;}}
  
 .Claims_content{ margin-top: 10px;}
 .Claims_content_text_1{ border-top:1px solid #cccccc; border-bottom:1px solid #CCCCCC; background:#FFFFFF; height:2em; line-height:25px; text-indent:20px; font-size:14px;}
 .Claims_content_text_2{  border-bottom:1px solid #dedcdc; background:#FFFFFF; height:2em; line-height:25px; text-indent:20px; font-size:14px;}
 .Claims_content_text_3{  border-bottom:1px solid #dedcdc; background:#FFFFFF; height:2em; line-height:25px; text-indent:20px; font-size:14px;}
 .Claims_content_text_4{  border-bottom:1px solid #dedcdc; background:#FFFFFF; height:2em; line-height:25px; text-indent:20px; font-size:14px;}
 .Claims_content_text_1 .text_right{ padding-left:30px;}
 .Claims_content_text_2 .text_right{ padding-left:30px;}
 .Claims_content_text_3 .text_right{ padding-left:18px;}
 .Claims_content_text_4 .text_right{ padding-left:30px;}
 
 .Claims_table table{ text-align:center; font-size:14px; color:#000000; background:#FFFFFF; border-top:1px solid #dedcdc;}
 .Claims_table table tr td{ border-bottom:1px solid #dedcdc; height:30px;}
 
  .td_1{ font-size:14px; background:#F0F0F0;}
 @media (min-width: 800px) {
 .td_1{ font-size:16px; background:#F0F0F0;}}
 
  .ol_center_1{width:100%;  float:left; border-bottom:#cacaca solid 1px;  line-height:18px; padding: 5px 0px 10px 0px;}
 @media (min-width: 800px) {
 .ol_center_1{width: 100%; float:left; border-bottom:#cacaca solid 1px; padding: 5px 0px 10px 0px;}}
 .ol_center{width:100%;  float:left; border-bottom:#cacaca solid 1px;  line-height:18px; border-top:1px solid #fff; padding: 10px 0px 10px 0px;}
 @media (min-width: 800px) {
 .ol_center{width: 100%; float:left; border-bottom:#cacaca solid 1px; border-top:1px solid #fff; padding: 10px 0px 10px 0px;}}
 .ol_center_left{ float:left; width:5%; color:#4e4e4e; text-align:center;}
 @media (min-width: 800px) {
 .ol_center_left{float:left; width:5%; color:#4e4e4e; text-align:center;}}
 .ol_center_right{ float:left; width:90%; color:#4e4e4e; font-size:14px; padding-top:2px;}
 @media (min-width: 800px) {
 .ol_center_right{float:left; width:91%; color:#4e4e4e; font-size:14px; padding-top:2px;}}
 .ol_center_left_img{margin-top:20px; text-align:center; }
 @media (min-width: 800px) { 
 .ol_center_left_img{margin-top:20px; text-align:center;}}
 
 .ol_center_0112{width:100%;  float:left;line-height:18px; padding: 5px 0px 10px 0px;}
  .ol_center_0113{padding:5px 0px 10px 0px;margin:5px;font-size:12px;}
 
 
 .city_list_text_1{ float:left; width:25%; height:2.5em; line-height:30px;}
 .city_list_text_2{ float:left; width:25%; height:2.5em; line-height:30px;}
 .city_list_text_3{ float:left; width:25%; height:2.5em; line-height:30px;}
 .city_list_text_4{ float:left; width:25%; height:2.5em; line-height:30px;}
 .city_list{ text-align:center; font-size:12px; background:#FFFFFF; border-top:solid 1px #dedcdc; border-bottom:solid 1px #dedcdc; height:2.5em; }
 .city_list_1{ text-align:center; font-size:12px; background:#FFFFFF; border-bottom:solid 1px #dedcdc; height:2.5em; }
 
 .new_car{ padding:15px; }
 .new_car_logo{ text-align:center;}
 
  .BD_head{  width:95%; margin-left:2.5%; margin-right:2.5%; float:left; }
 .bd_nbsp_1{height:10px; clear:both;}
 @media (min-width: 800px) {
  .bd_nbsp_1 { height:5px; clear:both; }}

 .head_index{ float:left; width:19%; background:#92c113; height:3.5em; text-align:center; border-right:#6aa606 solid 1px; }
 @media (min-width: 800px) {
  .head_index { width: 9%; }}
 .head_top{ float:left; width:80%; background:#92c113; height:56px; text-align:center; line-height:55px; border-left:#a1d312 solid 1px; font-size:16px;  color:#FFFFFF; letter-spacing:0px;}
 @media (min-width: 800px) {
 .head_top { width: 90.5%; font-size:18px; color:#FFFFFF; }}
 .bd_center{ width:100%;}
 @media (min-width: 800px) {
 .bd_center { width: 100%; }}
 .bd_pro_1{ border-top:1px solid #cac8c8; height:3em; border-bottom:#676864 solid 0px; background:#FFFFFF; margin-top:0px;}
 @media (min-width: 800px) {
 .bd_pro_1 { height:4.112em }}
 .bd_pro_tu{ float:left; width:20%; padding-top:0.6em; text-align:center;}
 @media (min-width: 800px) {
 .bd_pro_tu { float:left; width:10%; padding-top:1.3em; text-align:center; }}
 
 .bd_pro_text{ float:left; width:70%; text-align:left; color:#2f3535; padding-top:1.1em; font-size:14px; text-indent:0px;}
 @media (min-width: 800px) {
 .bd_pro_text { float:left; width:80%; text-align:left; color:#2f3535; padding-top:1.5em; font-size:16px;  text-indent:0px; }}
 
 .bd_pro_anniu{ float:left; width:10%; color:#2f3535; font-size:14px; padding-top:1.1em; text-align:center;}
 @media (min-width: 800px) {
 .bd_pro_anniu{ float:left; width:10%; color:#2f3535; font-size:16px; padding-top:1.5em; text-align:center;}}
 
 .bd_info{ border-top:1px solid #cac8c8; height:4.4em; border-bottom:#cac8c8 solid 1px; background:#FFFFFF; margin-top:0px;}
 @media (min-width: 800px) {
 .bd_info { height:6em }}
 .bd_info_tu{ float:left; width:20%; padding-top:0.6em; text-align:center;}
 @media (min-width: 800px) {
 .bd_info_tu { float:left; width:10%; padding-top:1.3em; text-align:center; }}
 
 .bd_info_text{ float:left; width:70%; text-align:left; color:#2f3535; padding-top:0.6em; font-size:14px; text-indent:0px;}
 @media (min-width: 800px) {
 .bd_info_text { float:left; width:80%; text-align:left; color:#2f3535; padding-top:1.2em; font-size:16px;  text-indent:0px; }}
 
 .bd_info_anniu{ float:left; width:10%; color:#2f3535; font-size:14px; padding-top:2em; text-align:center;}
 @media (min-width: 800px) {
 .bd_info_anniu{ float:left; width:10%; color:#2f3535; font-size:16px; padding-top:2.5em; text-align:center;}}
 .bd_info_text_2{ line-height:20px;}
 .info_Rank{ margin:8px 0px 8px 0px; height:3em; width:100%; border-top:1px solid #cac8c8; border-bottom:1px solid #cac8c8; background:#FFFFFF;}
 @media (min-width: 800px) {
 .info_Rank{ height:4.112em;}}
 .info_Rank_left{ float:left; width:10%; color:#000000; font-size:12px; line-height:20px; padding-left:17px; padding-top:11px;}
 @media (min-width: 800px) {
 .info_Rank_left{ font-size:16px; line-height:50px; padding-left:53px; padding-top:20px; width:5.2%;}}
 .info_Rank_right{ float:left; width:80%; color:#000000; font-size:12px; padding-top:8px; padding-left:13px; line-height:16px;}
 @media (min-width: 800px) {
 .info_Rank_right{ font-size:16px; padding-top:18px; padding-left:10px;}}
 
  .bd_infor{ width:100%;}
 .bd_infor_head{ height:2.6em; background:#92c113 repeat-x scroll; width:auto; text-align:center; line-height:55px; font-size:20px; border-bottom:5px solid #80ae03;}
 @media (min-width: 800px) {.bd_infor_head{ font-size:22px; height:2.8em; border-bottom:5px solid #80ae03;}}
  .bd_text_1{ text-align:left; height:2em; border-bottom:#E4E4E4 solid 1px; width:auto; color:#000000; line-height:30px; text-indent:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFFFFF;}
  .bd_text_2{ text-align:left; height:2em; border-bottom:#E4E4E4 solid 1px; width:auto; color:#000000; line-height:30px; text-indent:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFFFFF;}
  .bd_text_3{ text-align:left; height:2em; border-bottom:#E4E4E4 solid 1px; width:auto; color:#000000; line-height:30px; text-indent:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFFFFF;}
  .bd_text_4{ text-align:left; height:2em; border-bottom:#E4E4E4 solid 1px; width:auto; color:#000000; line-height:30px; text-indent:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFFFFF;}
  .bd_xianzhong{ width:100%; margin-top:8px; border-top:5px solid #80ae03;}
  .bd_table table{ font-size:12px; text-align:center; color:#000000;}
  .bd_table table tr{ height:28px;}
  .bd_table table tr td{ background:#FFFFFF; border-bottom:1px solid #E4E4E4;}
  .bd_Tips_img{ text-align:center; padding-top:150px;}
  .bd_Tips_text{ text-align:center; font-size:12px; padding:20px 30px 0px 30px; line-height:25px;}
  
.geren_top{ height:60px; border-bottom: solid 1px #cac8c8; border-top:solid 1px #cac8c8; background:#FFFFFF;}
.geren_pic{ margin:5px 0px 0px 5px; width:60px; float:left;}
.geren_pic_text{ width:200px; float:left; font-size:12px; line-height:60px;}
.geren_baoz{ height:90px; border-bottom: solid 1px #cac8c8; border-top:solid 1px #cac8c8; background:#FFFFFF; margin-top:10px;}
.geren_baoz_lv{ padding:5px 0px 0px 5px; font-size:12px; float:left; width:10px;}
.geren_baoz_lv_text{ float:left; width:50px; font-size:12px; line-height:25px;}
.geren_baoz_anniu{ clear:both;}
.geren_baoz_anniu_1{ float:left; width:20%; padding:0px 0px 0px 0px; text-align:center;}
.geren_tequan{ height:60px; border-bottom: solid 1px #cac8c8; border-top:solid 1px #cac8c8; background:#FFFFFF; margin-top:10px;}
.geren_baoz_hong{ padding:5px 0px 0px 5px; font-size:12px; float:left; width:10px;}
.geren_baoz_hong_text{ float:left; width:50px; font-size:12px; line-height:25px;}
.geren_tequan_1{ clear:both; border-top:1px solid #cac8c8; width:100%; font-size:14px; padding-left:10px; line-height:35px;}
.geren_tequan_1_img{ float:left; width:20px; padding-top:5px;}
.geren_tequan_1_text{ float:left; width:200px;}
.geren_chengjiu{ height:100px; border-bottom: solid 1px #cac8c8; border-top:solid 1px #cac8c8; background:#FFFFFF; margin-top:10px;}
.geren_baoz_lan{ padding:5px 0px 0px 5px; font-size:12px; float:left; width:10px;}
.geren_baoz_lan_text{ float:left; width:50px; font-size:12px; line-height:25px;}
.geren_baoz_chenghao{ clear:both;}
.geren_baoz_chenhao_1{ background:#90c269; width:40%; height:70px; float:left; text-align:center; color:#FFFFFF; line-height:70px;}
.geren_baoz_chenhao_2{ background:#73bd68; width:60%; height:70px; float:left; text-align:center; color:#FFFFFF; line-height:70px;}

/* Show priority 1 at 320px (20em x 16px) */
	@media screen and (min-width: 20em) {
	   .my-custom-class th.ui-table-priority-1,
	   .my-custom-class td.ui-table-priority-1 {
	     display: table-cell;
	   }
	}
	/* Show priority 2 at 480px (30em x 16px) */
	@media screen and (min-width: 30em) {
	   .my-custom-class  th.ui-table-priority-2,
	   .my-custom-class td.ui-table-priority-2 {
	     display: table-cell;
	   }
	}
	.bd_ranking_anniu{ text-align:center;}

/*customerpremranking*/
 .fee_text{ text-align:center; font-size:14px; color:#000; height: 80px;}
 .fee_Place{ text-align:center; font-size:2.4em; color:#000;}
 .fee_Place .fee_Place_text{ font-size:14px;}
 .fee_name{ text-align:center; margin-top:10px;}
 .fee_title{ text-align:center; font-size:2.4em; color:#000; margin-bottom: 1px;}
 .fee_tipes{ font-size:14px; color:#000; padding-top: 15px; width: 100%; text-align: center;}
 .fee_fengxiang{ text-align:center; color:#fff; font-size:14px; width: 100%;}
 .fee_desc{ text-align: center; font-size: 14px; margin-bottom: 43px; color: #000; margin-top: -3px;}
 .fee_anniu_1{ margin-top:50px;}
 .fee_anniu_2{ float:left; width:15%;}
 .fee_anniu_3{ float:left; font-size:14px; width:34%;  text-align:center; background:#6d9209; color:#FFFFFF;-moz-border-radius: 5px; -webkit-border-radius: 5px; }
 .fee_anniu_4{ float:left; width:2%}
 .fee_anniu_5{ float:left; font-size:14px; width:34%;  text-align:center; background:#6d9209; color:#FFFFFF;-moz-border-radius: 5px; -webkit-border-radius: 5px;}
 .fee_anniu_6{ float:left; width:15%}	
 
 /*offlineweixin_pay*/
 
 .pay_page_top{ width: 100%; height: 40px; background-color: #1e52a6;}
 .pay_page_title{ font-size: 16px; margin-top: 30px; padding-left: 10px;}
 .pay_page_validatecode{ text-align: right; padding: 5px 5px 5px 5px;}
 .pay_page_input{ padding: 0px 10px 0px 10px;}
 .pay_page_tips{ font-size: 12px; padding-left: 10px;}
 
 .pay_text_1{ text-align:left; height:2em; border-bottom:#E4E4E4 solid 1px; width:auto; color:#000000; line-height:30px; text-indent:20px; font-size:12px; background:#FFFFFF; padding: 5px 0px 5px 0px;}
 .pay_table table{ font-size:12px; text-align:center; color:#000000; margin-top: 15px;}
 .pay_table table tr{ height:28px;}
 .pay_table table tr td{ background:#FFFFFF; border-bottom:1px solid #E4E4E4; padding: 5px 0px 5px 0px;}
 
.pay_result{ width: 100%; font-size: 14px; background-color: #1c2337; color: #fff; height: 35px; text-align: center; line-height: 30px;}
.pay_content{ width: 100%; font-size: 14px; border-bottom: 1px solid #dbdbdb; height: 75px; text-align: left; line-height: 30px;}
.pay_content_1{float: left; width: 10%;}
.pay_content_2{float: left; width: 85%; padding-top: 8px; line-height: 28px;}
.pay_content_3{ text-align: center; font-size: 14px; padding-top: 3em; color: #7b7b7b;}
.pay_xian{ width: 260px; margin: 0 auto; border: 1px #dbdbdb solid; height: 200px; text-align: center; margin-top: 15px;}
.pay_xian_1_1{ float: left; width: 129px; border-right: 1px solid #dbdbdb; height: 100px; line-height: 100px;}
.pay_xian_1_2{ float: left; width: 130px; height: 100px; line-height: 100px;}
.pay_xian_1_3{ float: left; width: 129px; border-right: 1px solid #dbdbdb; height: 99px; border-top:1px solid #dbdbdb;  line-height: 100px;}
.pay_xian_1_4{ float: left; width: 130px; height: 99px; border-top:1px solid #dbdbdb; line-height: 100px;}
.pay_renzheng{ width: 100%; padding-top: 10px; text-align: center; font-size: 14px; color: 000px;}
.pay_logo{ margin: 0 auto; width: 100%; text-align: center; padding-top: 4em;}

