@charset "utf-8";
/* CSS Document */

  body {
	margin:0;
	max-width:640px;
	font-family:"黑体";
	background-color:#68c7fc;
	font-size:14px;
	line-height: 1; 
}
img {
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0px none;
}
*, :before, :after {
   -webkit-box-sizing: border-box; 
  box-sizing: inherit;
}
.oil_text_number {
	position:absolute;
	top:30%;
	left:16%;
	font-size:14px;
	color:#0e5470;
	width: 68%;
	line-height:24px;
}
@media screen and (min-width:360px){ .oil_text_number {top:33%;}}
@media screen and (min-width:375px){ .oil_text_number {top:35%;}}
@media screen and (min-width:384px){ .oil_text_number {top:35%;}}
@media screen and (min-width:414px){ .oil_text_number {top:39%;}}
@media screen and (min-width:640px){ .oil_text_number {top:46%; font-size: 16px;}}
 
.oil_there_text {
	font-size:14px;
	color:#0a3e53;
	margin:0 auto;
	width:80%;
	padding-top:10px;
}
.oil_there_bottom {
	text-align:center;
	padding-top:170px;
	width:50%;
	margin:0 auto;
	font-size:14px;
	color:#0e5470;
}
